## Tránh đồng bộ file dữ liệu vật lý SQL Server (Nguyên nhân gây lỗi)
*.mdf
*.ldf

## Tránh đồng bộ file rác cấu hình của Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docuser.suo
*.suo
DocumentLayout.backup.json

## Tránh đồng bộ file chạy biên dịch sau khi bấm Start
[Bin]
[Obj]
**/bin/
**/obj/