################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/[.Net] - PCCV/.vs/[.Net] - PCCV.slnx/FileContentIndex/2c3bac6e-3ec7-448e-b47b-64b4dcc3c868.vsidx
/[.Net] - PCCV/.vs/[.Net] - PCCV.slnx/FileContentIndex/b1304d61-1a94-43ac-bdb6-deb0e245bb25.vsidx
/[.Net] - PCCV/.vs/[.Net] - PCCV.slnx/FileContentIndex/fda018db-9182-4ceb-9ffd-91bfc2c92280.vsidx
/[.Net] - PCCV/.vs/[.Net] - PCCV.slnx/FileContentIndex
