## Ignore Visual Studio Temporary Files and Build Output
Top/
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bbin/
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.usercaps
*.userresource

# SQL Server files (nếu bạn có lưu file database .mdf/.ldf trong thư mục code)
*.mdf
*.ldf

# Packages
#.nuget/
packages/